<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony Blog{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <div id="wrapper">
        <div id="container">
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
        </div>
    </div>
</html>
