{% extends "::base.html.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
    <h4>Ajouter un article</h4>
    {{ form(form) }}
    <a href="{{ path('admin') }}">Retour</a>


{% endblock %}
