{% extends "::base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h4>Administration du blog</h4>
    <div> <a href="{{ path('add_article') }}">Ajouter un article</a> </div>
    <div> <a href="{{ path('add_categorie') }}">Ajouter une catégorie</a></div>
    <div> <a href="{{ path('add_tag') }}">Ajouter un tag</a></div>
{% endblock %}
