{% extends "::base.html.twig" %}

{% block body %}

    <h3>Accueil du blog</h3>
    <h4> Les 5 derniers articles du blog</h4>
    {% for article in articles %}
        <div> <a href="{{ path('details', {id:article.id}) }}">{{ article.nom }}</a> - posté le {{ article.dateParution|date("d/m/Y") }} </div>
    {% endfor %}

    <a href="{{ path('liste') }}"> Tous les articles </a>

{% endblock %}