{% extends "::base.html.twig" %}
{% block title %}Liste des Articles{% endblock %}
{% block body %}

    <h4>Tous les articles</h4>

    {% for article in articles %}
        <div><a href="{{ path('details', {'id': article.id}) }}">{{ article.nom }}</a> - posté le {{ article.dateParution|date("d/m/Y") }}</div>
    {% endfor %}

{% endblock %}